.link-header {
  font-family: "Montserrat", sans-serif;
  /* cambios */
  color: #2d3e50;
  /* font-weight: bold */
  text-decoration: none;
}

.header-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 1rem; */
  background-color: white;
  height: 5rem;
  position: relative;
  position: fixed;
  z-index: 9999;
  transition: background-color 0.4s ease, backdrop-filter 0.4s ease;
  backdrop-filter: none;
  min-width: 100%;
  border-bottom: 1px solid #e0e0e0;
  margin: 0rem;
  
  /* margin-bottom: 10rem; */
  /* padding-top: 10rem; */
  /* background-color: red; */
}

.scrolled {
  background-color: transparent;
  backdrop-filter: blur(16px); /* efecto blur */
}

.desplegar {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  transition: all 0.3s ease-in-out;
  /* backdrop-filter: blur(16px); */
}

/* responsive */

@media (max-width: 768px) {
  .desplegar {
    display: block; /* Mostrar boton solo en cel */
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }

  .header-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    flex-direction: column;
    align-items: center;
    display: none; /* Ocultar en cel por defecto */
    padding: 1rem 0;
    z-index: 1000;
  }

  .header-nav.activo {
    display: flex; /* Mostrar nav cuando está activo */
  }
  .header-nav-list {
    flex-direction: column;
    gap: 1.5rem;
  }
  .div-nav-footer {
    background-color: transparent;
  }
}
