.icono-redes{
    color: black;
    /* background-color: white; */
    
}

.btn-redes{
    background-color: transparent;
    width: 1.5rem;
    border: none;
    padding: 0;
    scale: 1.8;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
}

.redes-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    /* justify-content: space-evenly; */

}