@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-montserrat: 'Montserrat', sans-serif;
  }
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: var(--font-montserrat), sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 1.09rem;
}

ul {
  list-style: none;
}
