.Proyectos-Main{
    text-align: center;
    /* gap: 40px; */
}

.img-container {
  background-color: #f0f0f0;
  height: 10rem;
  border-radius: 10px 10px;
  margin-bottom: 15px;
  
}
.img-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px;
}
.Proyectos-Card {
  border: 1px solid #ccc;
  /* max-width: fit-content; */
  max-width: 18rem;
  transition: ease-out 0.2s;
  border-radius: 10px;
  text-align: center;
  max-height: 30rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  /* justify-content: space-between; */
  align-items: center;
}

.proyecto-tool {
  background-color: white;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: bold;
  /* font-weight: bold; */
}

.Proyectos-Card:hover {
  /* background-color: #f0f0f0; */
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.btns-div {
  display: flex;
  justify-content: left;
  gap: 10px;
  margin: 5px 5px 10px 5px;
}

.btn-Proyecto {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 7rem;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

.btn-demo {
  background: linear-gradient(to right, #9333ea, #db2777);
  transition: all 0.3s ease;
  color: white;
}

.btn-demo:hover {
  background: linear-gradient(to right, #7c3aed, #be185d);
  /* color: white; */
}

.icon-demo {
  color: white;
}

.Proyectos-cartas-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 40px; */
}
.contendor-dos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 20px; */
}
@media (min-width: 768px) {
  .contenedor-dos {
    display: flex;
    /* flex-direction: row; */
    gap: 40px;
  }
}

@media (min-width: 1024px) {
  .Proyectos-Card{
    min-width: 25rem;
    height: 25rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .img-container video{
    width: 25rem;
    height: 11rem;
    /* margin-bottom: 1rem; */
  }
}
